
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_2.jpg);" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">


          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Banking Solutions</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate suscipit, magnam libero velit esse sapiente officia inventore!</p>
                <div data-aos="fade-up" data-aos-delay="100">
                </div>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Financing Solutions</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate suscipit, magnam libero velit esse sapiente officia inventore!</p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Savings Accounts</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate suscipit, magnam libero velit esse sapiente officia inventore!</p>
              </div>

            </div>
          </div>

        </div>
      </div>

      <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>

    <div class="site-section" id="next">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
            <img src="images/flaticon-svg/svg/001-wallet.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Money Savings</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
            <img src="images/flaticon-svg/svg/004-cart.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Online Shoppings</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
            <img src="images/flaticon-svg/svg/006-credit-card.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Credit / Debit Cards</h3>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>

        </div>

    <div
      class="site-blocks-cover overlay"
      style="background-image: url(images/hero_2.jpg)"
      data-aos="fade"
      id="home-section"
    >
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">
                  Banking Solutions
                </h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Provident cupiditate suscipit, magnam libero velit esse
                  sapiente officia inventore!
                </p>
                <div data-aos="fade-up" data-aos-delay="100"></div>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">
                  Financing Solutions
                </h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Provident cupiditate suscipit, magnam libero velit esse
                  sapiente officia inventore!
                </p>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">
                  Savings Accounts
                </h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Provident cupiditate suscipit, magnam libero velit esse
                  sapiente officia inventore!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>

    <div class="site-section" id="next">
      <div class="container">
        <div class="row mb-5">
          <div
            class="col-md-4 text-center"
            data-aos="fade-up"
            data-aos-delay=""
          >
            <img
              src="images/flaticon-svg/svg/001-wallet.svg"
              alt="Free Website Template by Free-Template.co"
              class="img-fluid w-25 mb-4"
            />
            <h3 class="card-title">Money Savings</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
          <div
            class="col-md-4 text-center"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <img
              src="images/flaticon-svg/svg/004-cart.svg"
              alt="Free Website Template by Free-Template.co"
              class="img-fluid w-25 mb-4"
            />
            <h3 class="card-title">Online Shoppings</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
          <div
            class="col-md-4 text-center"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <img
              src="images/flaticon-svg/svg/006-credit-card.svg"
              alt="Free Website Template by Free-Template.co"
              class="img-fluid w-25 mb-4"
            />
            <h3 class="card-title">Credit / Debit Cards</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
              <img
                src="images/about_2.jpg"
                alt="Free Website Template by Free-Template.co"
                class="img-fluid"
              />
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Amortization Computation</h3>
              <p>
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia.
              </p>
            </div>

            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>Officia quaerat eaque neque</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
              </ul>
            </div>

            <div class="mb-4">
              <form action="#">
                <div class="form-group d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control mr-2"
                    placeholder="Enter your email"
                  />
                  <input
                    type="submit"
                    class="btn btn-primary"
                    value="Submit Email"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
                  facere laudantium magnam voluptatum autem. Amet aliquid
                  nesciunt veritatis aliquam.
                </p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li>
                    <a href="#about-section" class="smoothscroll">Terms</a>
                  </li>
                  <li>
                    <a href="#about-section" class="smoothscroll">Policy</a>
                  </li>
                  <li>
                    <a href="#about-section" class="smoothscroll">About Us</a>
                  </li>
                  <li>
                    <a href="#services-section" class="smoothscroll"
                      >Services</a
                    >
                  </li>
                  <li>
                    <a href="#testimonials-section" class="smoothscroll"
                      >Testimonials</a
                    >
                  </li>
                  <li>
                    <a href="#contact-section" class="smoothscroll"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-md-3 footer-social">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"
                  ><span class="icon-facebook"></span
                ></a>
                <a href="#" class="pl-3 pr-3"
                  ><span class="icon-twitter"></span
                ></a>
                <a href="#" class="pl-3 pr-3"
                  ><span class="icon-instagram"></span
                ></a>
                <a href="#" class="pl-3 pr-3"
                  ><span class="icon-linkedin"></span
                ></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control border-secondary text-white bg-transparent"
                  placeholder="Enter Email"
                  aria-label="Enter Email"
                  aria-describedby="button-addon2"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-primary text-black"
                    type="button"
                    id="button-addon2"
                  >
                    Send
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright">
                <small>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  All rights reserved | This template is made with
                  <i class="icon-heart text-danger" aria-hidden="true"></i> by

                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- .site-wrap -->

