.form-card {
  text-align: center;
  padding: 10px;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.mat-card-title {
  margin-bottom: 20px;
  color: #9e2a51; /* Adjust to your preferred color */
  font-size: 1.5em;
}
.mat-form-field-custom {
  width: 100%;
  margin-bottom: 10px;
}
.button-full-width {
  width: 100%;
  margin-top: 10px;
}
