<p-toast></p-toast>

<mat-card class="form-card" color="primary">
  <mat-card-header>
    <mat-card-title>Edit Client</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="editClientForm" (ngSubmit)="onSubmit()">

      <!-- First Name Input -->
      <mat-form-field appearance="fill" class="mat-form-field-custom">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First Name" required>
      </mat-form-field>

      <!-- Last Name Input -->
      <mat-form-field appearance="fill" class="mat-form-field-custom">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name" required>
      </mat-form-field>

      <!-- CIN Input -->
      <mat-form-field appearance="fill" class="mat-form-field-custom">
        <mat-label>CIN</mat-label>
        <textarea matInput formControlName="cin" placeholder="CIN" required></textarea>
      </mat-form-field>

      <!-- Button Group -->
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" class="button-full-width">Save</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()" class="button-full-width">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
